<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peter.mapper.HouseAnalyzeMapper">
	<select id="selectByProperty" resultType="java.util.TreeMap">
		select
		${property} as property,round(${aggregate}(${aggregation}),2) as num
		from house
		group by ${property}
		order by num
	</select>
</mapper>